body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: darkgray;
}

.range-ispisanosti {
  width: 100%;
  padding: 0 20px;
}
.range-ispisanosti input {
  width: 100%;
}

svg path {
  transition: stroke-dashoffset 150ms;
}

#spis {
  fill: dodgerblue;
}
